[workspace]
members = [
    "pineappl",
    "pineappl_applgrid",
    "pineappl_capi",
    "pineappl_cli",
    "pineappl_fastnlo",
    "pineappl_py",
    "xtask",
]
default-members = [
    "pineappl",
    "pineappl_capi",
    "pineappl_cli",
]
resolver = "2"

[workspace.package]
categories = ["science"]
edition = "2021"
keywords = ["high-energy-physics", "physics"]
license = "GPL-3.0-or-later"
repository = "https://github.com/NNPDF/pineappl"
rust-version = "1.70.0"
version = "0.7.1-rc.1"

[profile.release]
codegen-units = 1
lto = true
strip = "debuginfo"
