
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# maturin
target/

# Unit test / coverage reports
htmlcov/
coverage.xml
.coverage

# Sphinx documentation
# Ignore auto generated module references
# TODO: while apidoc does not work, we need to preserve that folder
# docs/source/modules
# ignore temporary build files
docs/build/

# Environments
.env
.venv
env/
venv/
ENV/

# profiling data
.prof
