[package]
name = "pineappl_py"
version = "0.3.0"
authors = [
    "Christopher Schwan <handgranaten-herbert@posteo.de>",
    "Alessandro Candido <candido.ale@gmail.com>"
]
edition = "2018"
license = "GPL-3.0-or-later"
repository = "https://github.com/N3PDF/pineappl"
readme = "README.md"
keywords = ["high-energy-physics", "physics"]
categories = ["science"]
description = "Python bindings to PineAPPL"

[lib]
name = "pineappl"
crate-type = ["cdylib"]

[dependencies]
pineappl = { path = "../pineappl", version = "0.5.0-alpha" }
lhapdf = "0.1.8"
ndarray = "0.13.1"
itertools = "0.9"

[dependencies.pyo3]
version = "0.12.4"
features = ["extension-module"]
