[package]
authors = ["Christopher Schwan <handgranaten-herbert@posteo.de>"]
description = "PineAPPL is not an extension of APPLgrid"
name = "pineappl"
readme = "README.md"

categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[lints]
workspace = true

[dependencies]
anyhow = "1.0.48"
arrayvec = "0.7.2"
bincode = "1.3.3"
bitflags = "2.4.2"
enum_dispatch = "0.3.7"
float-cmp = "0.9.0"
git-version = "0.3.5"
itertools = "0.10.1"
lz4_flex = "0.9.2"
ndarray = { features = ["serde"], version = "0.15.4" }
rustc-hash = "1.1.0"
serde = { features = ["derive"], version = "1.0.130" }
thiserror = "1.0.30"

[dev-dependencies]
anyhow = "1.0.48"
lhapdf = { package = "managed-lhapdf", version = "0.3.2" }
num-complex = "0.4.4"
rand = { default-features = false, version = "0.8.4" }
rand_pcg = { default-features = false, version = "0.3.1" }
serde_yaml = "0.9.13"
ndarray-npy = "0.8.1"

[features]
static = ["lhapdf/static"]
