name: Container

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Free disk space
        run: |
          # inspired by: https://github.com/apache/flink/blob/master/tools/azure-pipelines/free_disk_space.sh
          df -h
          # 100 largest packages, in ascending order
          dpkg-query -Wf '${Installed-Size}\t${Package}\n' | sort -n | tail -n 100
          sudo apt-get remove -y microsoft-edge-stable azure-cli google-cloud-cli google-chrome-stable '^temurin-.*-jdk' '^llvm-.*-dev' firefox powershell
          sudo apt-get autoremove -y
          sudo apt-get clean
          # disk space after removing packages
          df -h
      - name: Build image
        uses: redhat-actions/buildah-build@v2
        with:
          image: pineappl-ci
          tags: fastnlo-3067
          containerfiles: maintainer/pineappl-ci/Containerfile
          context: maintainer/pineappl-ci/
          oci: true
      - name: Publish image
        uses: redhat-actions/push-to-registry@v2
        with:
          image: pineappl-ci
          # ${{ github.repository_owner }} == 'NNPDF' but the registry is 'nnpdf'
          registry: ghcr.io/nnpdf
          username: ${{ github.actor }}
          password: ${{ github.token }}
